<form [formGroup]="statCalcForm" novalidate>
  <!--Form that displays a Pokemon's base stats and takes user input to calculate an individual's real stats-->
  <table>
    <tr>
      <!--Table headers-->
      <th colspan="2">Base Stats</th> <!--A Pokemon species' base stats-->
      <th>IVs</th> <!--IVs stand for Individual Values and act as a Pokemon's genetic code.-->
      <th>EVs</th> <!--EVs stand for Effort Values and represent the type of training the Pokemon has done.-->
      <th>Nature Modifier</th> <!--Nature is a Pokemon's personality, which raises one stat and lowers another-->
      <th>Final Value</th> <!--The final calculated stat for the Pokemon-->
    </tr>
    <tr>
      <!--Health, or HP, determines how much damage a Pokemon can take before it faints-->
      <td>Health</td>
      <td>{{forme.Hp}}</td> <!--Base Health-->
      <td>
        <input formControlName="healthIv" class="ivInput" type="number"> <!--User inputs Health IVs-->
        <span *ngIf="statCalcForm.get('healthIv').invalid">Please enter a number between 0 and 31</span>
      </td>
      <td>
        <input formControlName="healthEv" class="evInput" type="number"> <!--User inputs Health EVs-->
        <span *ngIf="statCalcForm.get('healthEv').invalid">Please enter a number between 0 and 255</span>
      </td>
      <td>N/A</td> <!--Natures do not affect the HP stat-->
      <td>
          <span *ngIf="statCalcForm.get('nature').value.AttackMod">
            <!--Formula used to calculate HP. Different from any other stat.-->
            {{(((2 * forme.Hp + statCalcForm.get('healthIv').value + (statCalcForm.get('healthEv').value / 4))
            * statCalcForm.get('level').value / 100) + statCalcForm.get('level').value + 10) | roundDown}}
          </span>
      </td>
    </tr>
    <tr>
      <!--Attack determines how much damage a Pokemon does with physical attacks like Tackle-->
      <td>Attack</td>
      <td>{{forme.Att}}</td> <!--Base Attack-->
      <td>
        <input formControlName="attackIv" class="ivInput" type="number"> <!--User inputs Attack IVs-->
        <span *ngIf="statCalcForm.get('attackIv').invalid">Please enter a number between 0 and 31</span>
      </td>
      <td>
        <input formControlName="attackEv" class="evInput" type="number"> <!--User inputs Attack EVs-->
        <span *ngIf="statCalcForm.get('attackEv').invalid">Please enter a number between 0 and 255</span>
      </td>
      <td>
        <!--Shows how the selected nature affects Attack-->
        <span *ngIf="statCalcForm.get('nature').value.AttackMod">
            *{{ statCalcForm.get('nature').value?.AttackMod }}
        </span>
      </td>
      <td>
        <!--Formula used to calculate Attack.-->
        <span *ngIf="statCalcForm.get('nature').value.AttackMod">
            {{(((2 * forme.Att + statCalcForm.get('attackIv').value + statCalcForm.get('attackEv').value / 4)
            * statCalcForm.get('level').value / 100) + 5 | roundDown)
            * statCalcForm.get('nature').value.AttackMod | roundDown}}
          </span>
      </td>
    </tr>
    <tr>
      <!--Defense mitigates damage a Pokemon takes from physical attacks like Tackle-->
      <td>Defense</td>
      <td>{{forme.Def}}</td> <!--Base Defense-->
      <td>
        <input formControlName="defenseIv" class="ivInput" type="number"> <!--User inputs Defense IVs-->
        <span *ngIf="statCalcForm.get('defenseIv').invalid">Please enter a number between 0 and 31</span>
      </td>
      <td>
        <input formControlName="defenseEv" class="evInput" type="number"> <!--User inputs Defense EVs-->
        <span *ngIf="statCalcForm.get('defenseEv').invalid">Please enter a number between 0 and 255</span>
      </td>
      <td>
        <!--Shows how the selected nature affects Defense-->
        <span *ngIf="statCalcForm.get('nature').value.DefenseMod">
            *{{ statCalcForm.get('nature').value?.DefenseMod }}
          </span>
      </td>
      <td>
        <!--Formula used to calculate Defense.-->
        <span *ngIf="statCalcForm.get('nature').value.DefenseMod">
            {{(((2 * forme.Def + statCalcForm.get('defenseIv').value + statCalcForm.get('defenseEv').value / 4)
            * statCalcForm.get('level').value / 100) + 5 | roundDown)
            * statCalcForm.get('nature').value.DefenseMod | roundDown}}
          </span>
      </td>
    </tr>
    <tr>
      <!--Special Attack determines how much damage a Pokemon does with special attacks like Flamethrower-->
      <td>Special Attack</td>
      <td>{{forme.SpA}}</td> <!--Base Special Attack-->
      <td>
        <input formControlName="spAttackIv" class="ivInput" type="number"> <!--User inputs Special Attack IVs-->
        <span *ngIf="statCalcForm.get('spAttackIv').invalid">Please enter a number between 0 and 31</span>
      </td>
      <td>
        <input formControlName="spAttackEv" class="evInput" type="number"> <!--User inputs Special Attack EVs-->
        <span *ngIf="statCalcForm.get('spAttackEv').invalid">Please enter a number between 0 and 255</span>
      </td>
      <td>
        <!--Shows how the selected nature affects Special Attack-->
        <span *ngIf="statCalcForm.get('nature').value.SpAttackMod">
            *{{ statCalcForm.get('nature').value?.SpAttackMod }}
          </span>
      </td>
      <td>
        <!--Formula used to calculate Special Attack.-->
        <span *ngIf="statCalcForm.get('nature').value.SpAttackMod">
            {{(((2 * forme.SpA + statCalcForm.get('spAttackIv').value + statCalcForm.get('spAttackEv').value / 4)
            * statCalcForm.get('level').value / 100) + 5 | roundDown)
            * statCalcForm.get('nature').value.SpAttackMod | roundDown}}
          </span>
      </td>
    </tr>
    <tr>
      <!--Special Defense mitigates damage a Pokemon takes from special attacks like Flamethrower-->
      <td>Special Defense</td>
      <td>{{forme.SpD}}</td> <!--Base Special Defense-->
      <td>
        <input formControlName="spDefenseIv" class="ivInput" type="number"> <!--User inputs Special Defense IVs-->
        <span *ngIf="statCalcForm.get('spDefenseIv').invalid">Please enter a number between 0 and 31</span>
      </td>
      <td>
        <input formControlName="spDefenseEv" class="evInput" type="number"> <!--User inputs Special Defense EVs-->
        <span *ngIf="statCalcForm.get('spDefenseEv').invalid">Please enter a number between 0 and 255</span>
      </td>
      <td>
        <!--Shows how the selected nature affects Special Defense-->
        <span *ngIf="statCalcForm.get('nature').value.SpDefenseMod">
            *{{ statCalcForm.get('nature').value?.SpDefenseMod }}
          </span>
      </td>
      <td>
        <!--Formula used to calculate Special Defense.-->
        <span *ngIf="statCalcForm.get('nature').value.SpDefenseMod">
            {{(((2 * forme.SpD + statCalcForm.get('spDefenseIv').value + statCalcForm.get('spDefenseEv').value / 4)
            * statCalcForm.get('level').value / 100) + 5 | roundDown)
            * statCalcForm.get('nature').value.SpDefenseMod | roundDown}}
          </span>
      </td>
    </tr>
    <tr>
      <!--With a few exceptions, the Pokemon with the highest speed moves first on a given turn-->
      <td>Speed</td>
      <td>{{forme.Spe}}</td>  <!--Base Speed-->
      <td>
        <input formControlName="speedIv" class="ivInput" type="number"> <!--User inputs Speed IVs-->
        <span *ngIf="statCalcForm.get('speedIv').invalid">Please enter a number between 0 and 31</span>
      </td>
      <td>
        <input formControlName="speedEv" class="evInput" type="number"> <!--User inputs Speed EVs-->
        <span *ngIf="statCalcForm.get('speedEv').invalid">Please enter a number between 0 and 255</span>
      </td>
      <td>
        <!--Shows how the selected nature affects Speed-->
        <span *ngIf="statCalcForm.get('nature').value.SpeedMod">
            *{{ statCalcForm.get('nature').value?.SpeedMod }}
          </span>
      </td>
      <td>
        <!--Formula used to calculate Speed.-->
        <span *ngIf="statCalcForm.get('nature').value.SpeedMod">
            {{(((2 * forme.Spe + statCalcForm.get('speedIv').value + statCalcForm.get('speedEv').value / 4)
            * statCalcForm.get('level').value / 100) + 5 | roundDown)
            * statCalcForm.get('nature').value.SpeedMod | roundDown}}
          </span>
      </td>
    </tr>
  </table>
  <p>Nature:
    <select formControlName="nature">
      <option>Select a Nature</option>
      <option *ngFor="let nature of natureList" [ngValue]="nature">{{ nature.Name }}</option>
    </select>
  </p>
  <p>Level: <input formControlName="level" class="levelInput" type="number"></p>
  <p *ngIf="statCalcForm.get('level').invalid">Please enter a number between 1 and 100</p>
</form>
<!--<p>Form status: {{ statCalcForm.status | json }}</p>
<p>Form value: {{ statCalcForm.value | json }}</p>-->
