<div *ngIf="pokemon">         <!--Only displays if a Pokemon is selected from PokemonListComponent-->
  <h2>{{pokemon.Name}}</h2>   <!--Selected Pokemon's name-->
  <form [formGroup]="formeSelector" novalidate>
    <p>Forme:
      <select #formeSelect formControlName="pokemonForme" (change)="parseForme(formeSelect.value)">
        <option *ngFor="let forme of formeList" [ngValue]="forme.Id">{{forme.Name}}</option>
      </select>
    </p>
    <img src="{{selectedForme.Image}}" style="width:128px;height:128px;"> <!--Pokemon's artwork-->
    <p>
      <img src="/assets/Types/{{selectedForme.Type1}}.png">
      <!--Image representing Pokemon's primary type-->
      <span *ngIf="selectedForme.Type2"> <img src="/assets/Types/{{selectedForme.Type2}}.png"></span>
      <!--Image representing Pokemon's secondary type, if present-->
    </p>
    <p>{{selectedForme.Description}}</p>
    <!--Stat calculator segment of the page-->
    <stat-calculator [forme]="selectedForme"></stat-calculator>
  </form>
</div>
